
.font_change{
  font-family:'Shrikhand', cursive;;
  font-size: 72px;
  color:#DB3304;
  letter-spacing: -22px;
}
.body {
 background-color: #020C01;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

.header{
	margin-top: 20px;
  background-color: 
}

.main{
  background-color: #020C01;
  font-family: 'Sora', sans-serif;

}
.mynav{
  background-color: #020C01;
  margin-top: -20px;
}
.mynav .container-fluid a{
    display: inline;
    margin-left: 20px;
}
.mynav .container-fluid a{
  font-family: 'Shrikhand', cursive;
  color: #DB3304;
  font-size: 47px;
}
.mynav .nav-item a{
   font-family: 'Sora',
   sans-serif;
    color: #E4DEAE;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    margin-right: 30px;
}
.mynav .nav-item:last-child{
    padding: 4px;
    background-color: #DB3304;
    border-radius: 10px;
    margin-right: -10px;
}
.collapse.navbar-collapse.menu {
  font-weight: 600;
  color:#E4DEAE;
}

.collapse.navbar-collapse.menu a {
    color: #E4DEAE;
}


.main{
   color: #E4DEAE;
}
.text_zone2 {
    margin-left: 25px; 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: #E4DEAE; 
}
.col-sm h2{ 
  margin-top: 80px;
  font-size: 48px;
  font-weight: bold;
}
.col-sm p{
  font-size: 16px;
}
.col1 h3{
  font-size: 35px;
  font-weight: bold;
}
.progress_bar .pro-bar {
    background: #E4DEAE;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}
.progress_bar .progress_bar_title{
    color: #E4DEAE;
    font-size: 15px;
    font-weight: 300;
    position: flex;
    z-index: 1;
    top: 10px;
}
.progress_bar .progress_number{
    float: right;
    
}
.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: #020C01;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #DB3304;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #DB3304;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  margin: 0 0 10px;
  margin-top: 50px;

}

.footer-distributed h3 span{
  color:  #DB3304;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  
  ;
  margin: 0 0 10px;
    margin-top: 50px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #E4DEAE;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
    margin-top: 50px;
}

.footer-distributed .footer-icons{
  margin-top: 50px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #020C01;
  border-radius: 2px;

  font-size: 20px;
  color: #DB3304;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #E4DEAE;
    margin-top: 50px;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #DB3304;
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #DB3304;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #E4DEAE;
}

.footer-distributed ::-moz-placeholder {
  color:  #E4DEAE;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #E4DEAE;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
    margin-top: 50px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #DB3304;
  color: #E4DEAE;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}
