.font_change{
 font-family: 'Shrikhand', cursive;
  font-size: 85px;
  color:#DB3304;
  letter-spacing: 6px;
}
.body {
 background-color: #020C01;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

.header{
  margin-top: 20px; 
}

.mynav{
  background-color: #020C01;
  margin-top: -20px;
}
.mynav .container-fluid a{
    display: inline;
    margin-left: 20px;
}
.mynav .container-fluid a{
  font-family: 'Shrikhand', cursive;
  color: #DB3304;
  text-decoration: none;
  font-size: 47px;
}
.mynav .nav-item a{
   font-family: 'Sora', sans-serif;
    float: right;
    color: #E4DEAE;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    margin-right: 30px;
}
.nav-item a{
    text-decoration: none;
    /* margin-right: 35px; */
    padding: 10px 20px;
    color: #DB3304;
    
}
#landing-container{
  background-color: #020C01;
  margin-left: 0px;
  margin-right: -100px;
  background-size: cover;
}
.home{
    display: flex;
    align-items: center;
    background-color: #020C01;
    background-size: cover;
    width: auto;
    height: 88vh;
}
.home h1{
  margin-left: 20px;
  font-size: 80px;
  color: #E4DEAE;
}
.container-fluid {
  width:100%;max-width:none;padding:0;
}

/*#button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: flex;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: center;
    color: #DB3304;
    margin-top: 100px;
    border-style:solid;
    border-radius: 0;
    border-color:  #DB3304;
    padding: 0px;
}

.btn:hover{
    width: 110%;
    color: #1d1d1d;
}*/

.icon-bar {
  float: right;
 margin-top: -260px;
}

.icon-bar a {
  display: block;
  padding: 14px;
  transition: all 0.3s ease;
  color: #DB3304;
  font-size: 20px;
}

.icon-bar a:hover {
  color :#E4DEAE;
}

#projects-container{

  background-color: #020C01;
  margin-top:-50px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
#projects-container h2{
  font:'Sora', sans-serif;
  text-align: center;
  color: #DB3304;
  margin-left: 20px; 
  margin-top: 40px;
  font-size: 47px;
}

.fake-magicwall{
    background-color: #020C01;
    
    
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}


.footer-distributed{
  background: #020C01;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Sora', sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

.section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #DB3304;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  margin: 0 0 10px;

}

.footer-distributed h3 span{
  color:  #DB3304;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #E4DEAE;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #E4DEAE;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons{
  margin-top: 50px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #020C01;
  border-radius: 2px;

  font-size: 20px;
  color: #DB3304;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #E4DEAE;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #DB3304;
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #DB3304;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #E4DEAE;
}

.footer-distributed ::-moz-placeholder {
  color:  #E4DEAE;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #E4DEAE;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #DB3304;
  color: #E4DEAE;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}
